<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details</title>
</head>
<body>
    <p>
        <b>Label :</b> {{ user.label }} 
    </p>
    <p>
        <b>Price :</b> {{ user.price }} 
    </p>
    <p>
        <b>Price :</b> {{ user.quantity }} 
    </p>
    <div>
        <img src="{{ user.image }}" style="width: 300px;" alt="avatar">
    </div>
</body>
</html>

